In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from collections import OrderedDict
from sklearn import metrics, linear_model
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
import datetime, warnings, scipy

#### Regression
The target variable is **ARR_DELAY**. We need to be careful which columns to use and which don't. For example, DEP_DELAY is going to be the perfect predictor, but we can't use it because in real-life scenario, we want to predict the delay before the flight takes of --> We can use average delay from earlier days but not the one from the actual flight we predict.

For example, variables **CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY** shouldn't be used directly as predictors as well. However, we can create various transformations from earlier values.

We will be evaluating your models by predicting the ARR_DELAY for all flights 1 week in advance.

In [10]:
path = '/home/jewelle/data_bootcamp/'
flights_df =  pd.read_csv(path +'flights_sub.csv', parse_dates=['fl_date'])
flights_df.head()

,Unnamed: 0,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,0,2018-01-23,UA,UA_CODESHARE,UA,3405,YX,N653RW,3405,10821,...,169.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018-11-15,AA,AA_CODESHARE,AA,5683,OH,N594NN,5683,11057,...,640.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-10-29,WN,WN,WN,2434,WN,N432WN,2434,12889,...,867.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-11-14,B6,B6,B6,577,B6,N968JT,577,11697,...,2584.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-05-22,DL,DL_CODESHARE,DL,3762,OO,N8933B,3762,10397,...,508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
dt_col = ['crs_dep_time', 'dep_time', 'crs_arr_time', 'arr_time', 'wheels_off', 'wheels_on']

In [16]:
def convert_time(x):
    if np.isnan(x):
        return '00:00'
    
    if x == 2400:
        return '23:59'   
    string = str(int(x))
    
    if len(string)< 4:
        for _ in range(4-len(string)):
            string = '0' + string
    
    return string[:2] + ':' + string[2:]

In [17]:
#run convert_time
flights_df['crs_dep_time'] = flights_df['crs_dep_time'].apply(lambda x: convert_time(x))
flights_df['crs_dep_time'] = pd.to_datetime(flights_df['crs_dep_time'], format = '%H:%M')

flights_df['dep_time'] = flights_df['dep_time'].apply(lambda x: convert_time(x))
flights_df['dep_time'] = pd.to_datetime(flights_df['dep_time'], format = '%H:%M')

flights_df['crs_arr_time'] = flights_df['crs_arr_time'].apply(lambda x: convert_time(x))
flights_df['crs_arr_time'] = pd.to_datetime(flights_df['crs_arr_time'], format = '%H:%M')

flights_df['arr_time'] = flights_df['arr_time'].apply(lambda x: convert_time(x))
flights_df['arr_time'] = pd.to_datetime(flights_df['arr_time'], format = '%H:%M')

flights_df['wheels_off'] = flights_df['wheels_off'].apply(lambda x: convert_time(x))
flights_df['wheels_off'] = pd.to_datetime(flights_df['wheels_off'], format = '%H:%M')

flights_df['wheels_on'] = flights_df['wheels_on'].apply(lambda x: convert_time(x))
flights_df['wheels_on'] = pd.to_datetime(flights_df['wheels_on'], format = '%H:%M')

In [19]:
flights_df.drop(['Unnamed: 0', 'mkt_unique_carrier', 'dup', 'no_name'], axis=1, inplace=True)

In [46]:
#check for missing values
total = flights_df.isnull().sum().sort_values(ascending=False)
percent = (flights_df.isnull().sum()/flights_df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head()

                     Total  Percent
late_aircraft_delay      0      0.0
origin                   0      0.0
dep_time                 0      0.0
crs_dep_time             0      0.0
dest_city_name           0      0.0

In [23]:
#drop columns with >82% missing data
drop_columns = missing_data[missing_data['Percent'] > 0.82].index.tolist()
flights_df.drop(drop_columns, axis=1, inplace=True)

In [33]:
flights_df.dropna(subset=['air_time', 'actual_elapsed_time', 'taxi_in', 'taxi_out'], inplace=True)

In [38]:
float_cols = flights_df.columns[flights_df.dtypes=='float64']
flights_df[float_cols] = flights_df[float_cols].fillna('0.0')
flights_df.fillna(0,inplace=True)

In [44]:
flights_df.head()

,fl_date,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-01-23,UA_CODESHARE,UA,3405,YX,N653RW,3405,10821,BWI,"Baltimore, MD",...,75.0,89.0,49.0,1.0,169.0,0.0,0.0,0.0,0.0,0.0
1,2018-11-15,AA_CODESHARE,AA,5683,OH,N594NN,5683,11057,CLT,"Charlotte, NC",...,136.0,122.0,99.0,1.0,640.0,0.0,0.0,0.0,0.0,0.0
2,2019-10-29,WN,WN,2434,WN,N432WN,2434,12889,LAS,"Las Vegas, NV",...,155.0,156.0,139.0,1.0,867.0,0.0,0.0,0.0,0.0,0.0
3,2019-11-14,B6,B6,577,B6,N968JT,577,11697,FLL,"Fort Lauderdale, FL",...,385.0,371.0,346.0,1.0,2584.0,0.0,0.0,0.0,0.0,0.0
4,2019-05-22,DL_CODESHARE,DL,3762,OO,N8933B,3762,10397,ATL,"Atlanta, GA",...,107.0,90.0,73.0,1.0,508.0,0.0,0.0,0.0,0.0,0.0

In [42]:
flights_df[['carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
            'late_aircraft_delay', 'arr_delay', 'dep_delay']] = flights_df[['carrier_delay', 'weather_delay', 
                                                                            'nas_delay', 'security_delay', 
                                                                            'late_aircraft_delay', 'arr_delay', 
                                                                            'dep_delay']].apply(pd.to_numeric)